label[for="basic_Image"] {
    padding-top: 10px;
}
label[for="basic_ImageSlider"], label[for="basic_GiamGiaSP"], label[for="basic_urlYoutube"] {
    padding-top: 10px;
}
.red-text {
    color: red;
}